:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --preto-background: #00030c;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--preto-background);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__botao {
    display: block;
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border: 2px solid var(--botao-azul);
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 1em;
}

.container__botao:hover, .botao__secundario:hover {
    background-color: var(--branco-principal);
    border: 2px solid var(--branco-principal);
    color: var(--botao-azul);
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link {
    list-style-type: none;
    padding: 0 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        background-image: none;

    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    #invertido {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 12em;
        height: 60vh;
    }

    .dispositivos__lista {
        display: block;
        margin: 5em 0 12em 0;
    }

    .rodape__lista {
        display: block;
    }

    .lista__link {
        padding: 0.1em 0;
    }

    .lista__link a {
        margin: 0;
    }
}
